- variant = 'control'
%div.experiment-container.experiment-control

  .container.slp-container#intro
    .row.text-center.u-padding-top-md
      %h1 Choose a plan that suits your needs
      %h4.u-padding-top-xs All plans have unlimited private or public repositories and can be used self-managed or SaaS.

  .container.slp-container#plans
    .row.u-padding-top-sm.u-padding-bottom-sm
      = partial "/includes/pricing-control-2020"

  .container.slp-container#feature-comparison
    .row.u-padding-bottom-md

      -# grouped version
      = partial "includes/features/pricing-feature-comparison-grouped"
