---
layout: handbook-page-toc
title: "Dev Career Framework"
---

## On this page
{:.no_toc .hidden-md .hidden-lg}

- TOC
{:toc .hidden-md .hidden-lg}

## Dev Career Framework

<%= partial("handbook/engineering/career-development/matrix/engineering/development/dev/dev_career_matrix_nav.erb") %>

These are the expected competencies of the Dev Sub Department team members at GitLab by Job Title.
 
## Intermediate

* [Backend](/handbook/engineering/career-development/matrix/engineering/development/dev/intermediate/backend)
* [Frontend](/handbook/engineering/career-development/matrix/engineering/development/dev/intermediate/frontend)

## Senior

* [Backend](/handbook/engineering/career-development/matrix/engineering/development/dev/senior/backend)
* [Frontend](/handbook/engineering/career-development/matrix/engineering/development/dev/senior/frontend)

## Staff

* [Backend](/handbook/engineering/career-development/matrix/engineering/development/dev/staff/backend)
* [Frontend](/handbook/engineering/career-development/matrix/engineering/development/dev/staff/frontend)



